script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
script window.jQuery || document.write('<script src = "scripts/vendor/jquery/dist/jquery.min.js"><\/script>')
script(src="scripts/main.js")