title Домашнее задание 2
meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
link(rel="shortcut icon" href="images/favicon.ico")
link(rel='stylesheet', href='styles/css/main.css')
link(href="//fonts.googleapis.com/css?family=Exo+2:400,300,300italic,200,200italic400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css")