/*задаём цвета*/
$Color: #5C7B98;

$alinkColor: #03BAFE; //цвет ссылок
$alinkColorHover: #613993; // ссылка при наведении
$aLinkColorActive: #03BAFE; // цвет активных ссылок

$lilinkColor: #F7F7F7; // цвет меню про
$lilinkColorHover: #DCE6F0; // цвет меню при наведении
$liLinkColorActive: #00B9FE; // цвет меню 